BMI.class
CalculateGradeAndPercentage.class
FindFactor.class
FindGreatestFactor.class
FindMultiple.java
FindPower.java
FindYoungestAndTallest.java
FizzBuzz.class
ModifiedFizzBuzz.class
IsPrime.class
LeapYear.class
ModifiedLeapYear.class
