CheckELigibleForVote.class
CountLength.class
CountVowelConsonant.class
FindVowelAndConsonant.class
GradingSystem.class
ModifiedVotingEligibility.class
ShortestAndLargestString.class
SplitTextIntoWords.class
TrimSentenceIntoWords2.class
TrimString.class