CalculateBonus.class
CheckEvenOrOdd.class
CheckIfDivisible.class
CheckIfNaturalNum.class
CheckIfSmallest.class
CheckNum.class
CountdownUsingFor.class
CountdownUsingWhile.class
FindLargest.class
MultiplicationTable.class
PrintFactorialWhile.class
PrintFactorialFor.class
SpringSeason.class
SumNaturalNumFor.class
SumNaturalNumWhile.class
SumUntilZero.class
SumUntilZeroOrNegative.class
VoteOrNot.class